/* Geral */

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a,
a:visited {
    color: black;
}

/* Correções */

.fp-controlArrow.fp-prev {
    left: 3% !important;
    font-size: 34pt;
    color: white;
    border: none !important;
}

.fp-controlArrow.fp-next {
    right: 3% !important;
    font-size: 34pt;
    width: auto;
    color: white;
    border: none !important;
}

/* --- */

#main {
    width: 90%;
    margin: 0 5%;
    display: flex;
    align-items: center;
}

#text-main {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 5%;
}

#text-main h1 {
    position: absolute;
    left: -20%;
    z-index: -999;
    opacity: 0.075;
    font-size: 17vw;
    font-weight: 600;
    width: 1000vw;
}

#text-main h3 {
    position: relative;
    z-index: 999;
    left: 10%;
    font-weight: 700;
    font-size: 40pt;
    width: 40%;
    margin-right: 5%;
    line-height: 75px;
}

#button-down {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
}

#button-down .fa-angle-down {
    font-size: 40pt;
    cursor: pointer;
}

/* Images */

#img-main {
    position: absolute;
    top: 0;
    right: -20%;
    height: 100vh;
}

/* Sliders */

.slide {
    position: relative;
    display: block !important;
    /*
    align-items: center;
    justify-content: center;
    */
    color: white;
    font-size: 28pt;
}

.bg-sliders {
    height: 100%;
    width: 35%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-sliders {
    width: 55%;
    height: 87%;
}

.content-sliders h3 {
    font-weight: bold;
    width: 100%;
}

.content-sliders h3:after {
    content: " ";
    margin-top: 10px;
    display: block;
    width: 15%;
    height: 6px;
    background-color: white;
    position: absolute;
}

.content-sliders .text {
    font-size: 12pt;
    font-weight: 500;
    line-height: 26px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    position: relative;
    top: 5%;
    text-overflow: ellipsis;
}

.content-sliders .text p {
    margin: 15px 0;
}

.left-info .bg-sliders {
    float: left;
}

.left-info .content-sliders {
    margin: 3% 7.5% 3% 2.5%;
    float: right;
}

.left-info .content-sliders h3 {
    text-align: right;
}

.left-info .content-sliders h3:after {
    /* margin-left: 55%; */
    right: 7.5%;
}

.right-info .bg-sliders {
    float: right;
}

.right-info .content-sliders {
    margin: 3% 2.5% 3% 7.5%;
}

.right-info .content-sliders h3:after {
    margin-right: 55%;
}

.center-info .content-sliders {
    width: 85%;
    height: 90%;
    margin: 3% 7.5%;
}

.center-info .content-sliders h3 {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.center-info .content-sliders h3:after {
    width: 30%;
    left: 35%;
}

/* Slider Trilobites */

#trilobites{
    background: linear-gradient(to right, #1E3C72, #2A5298);
    background: #1e3c72;
    background: -moz-linear-gradient(-45deg, #1e3c72 0%, #2a5298 100%);
    background: -webkit-linear-gradient(-45deg, #1e3c72 0%, #2a5298 100%);
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e3c72', endColorstr='#2a5298', GradientType=1);
}

.webp #bg-trilobites {
    background-image: url("../images/img-trilobites.webp");
}

.no-webp #bg-trilobites {
    background-image: url("../images/img-trilobites.jpg");
}

/* Slider Ambiente */

#ambiente {
    background: rgba(238,204,39,1);
    background-image: -moz-radial-gradient( circle farthest-corner at 10% 20%, rgba(238,204,39,1) 0%, rgba(252,173,3,1) 44.7%, rgba(252,132,3,1) 90% );
    background-image: -webkit-radial-gradient( circle farthest-corner at 10% 20%, rgba(238,204,39,1) 0%, rgba(252,173,3,1) 44.7%, rgba(252,132,3,1) 90% );;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(238,204,39,1) 0%, rgba(252,173,3,1) 44.7%, rgba(252,132,3,1) 90% );
}

.webp #bg-ambiente {
    background-image: url("../images/img-ambiente.webp");
}

.no-webp #bg-ambiente {
    background-image: url("../images/img-ambiente.jpg");
}

/* Slider Extinção */

#extincao {
    background: #673AB7;
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);
    background: linear-gradient(to right, #512DA8, #673AB7);
}

.webp #bg-extincao {
    background-image: url("../images/img-extincao.webp");
}

.no-webp #bg-extincao {
    background-image: url("../images/img-extincao.jpg");
}

/* Slider Portugal */

#portugal {
    background: rgba(229,55,57,1);
    background-image: -moz-linear-gradient( 109.6deg,  rgba(229,55,57,1) 11.2%, rgba(205,13,13,1) 91.1% );
    background-image: -webkit-linear-gradient( 109.6deg,  rgba(229,55,57,1) 11.2%, rgba(205,13,13,1) 91.1% );;
    background-image: linear-gradient( 109.6deg,  rgba(229,55,57,1) 11.2%, rgba(205,13,13,1) 91.1% );
}

.webp #bg-portugal {
    background-image: url("../images/img-portugal.webp");
}

.no-webp #bg-portugal {
    background-image: url("../images/img-portugal.jpg");
}

/* Slider Arouca */

#arouca {
    background: #38ef7d;
    background: -moz-linear-gradient(-45deg, #38ef7d 0%, #11998e 100%);
    background: -webkit-linear-gradient(-45deg, #38ef7d 0%, #11998e 100%);
    background: linear-gradient(135deg, #38ef7d 0%, #11998e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38ef7d', endColorstr='#11998e', GradientType=1);
}

.webp #bg-arouca {
    background-image: url("../images/img-arouca.webp");
}

.no-webp #bg-arouca {
    background-image: url("../images/img-arouca.jpg");
}

/* Slider final */

#creditos {
    background: #414345;
    background: -moz-linear-gradient(-45deg, #414345 0%, #232526 100%);
    background: -webkit-linear-gradient(-45deg, #414345 0%, #232526 100%);
    background: linear-gradient(135deg, #414345 0%, #232526 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414345', endColorstr='#232526', GradientType=1);

    color: white;
}

/* Responsividade */

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #text-main h3 {
        font-size: 36pt;
    }

    #img-main {
        right: -30%;
    }
}

/* Custom */
@media only screen and (max-width : 879px) {
    #img-main {
        right: -40%;
    }

    .content-sliders h3 {
        font-size: 24pt;
    }

    .content-sliders h3:after {
        margin-top: 6px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #img-main {
        display: none;
    }

    #text-main h1 {
        font-size: 22.5vw;
    }

    #text-main h3 {
        text-align: center;
        width: 80%;
        margin: 0 10%;
        left: 0;
        line-height: 65px;
        font-size: 32pt;
    }

    /* Sliders */

    .bg-sliders {
        display: none;
    }
    
    .content-sliders {
        width: 85%;
        height: 85%;
        margin: 7.5%;
    }
    
    .content-sliders h3 {
        font-weight: bold;
        width: 100%;
        text-align: center !important;
    }
    
    .content-sliders h3:after {
        margin-top: 10px;
        width: 30%;
        height: 6px;
    }

    .left-info .bg-sliders, .right-info .bg-sliders {
        clear: both;
    }
    
    .left-info .content-sliders, .right-info .content-sliders, .center-info .content-sliders {
        clear: both;
        margin: 7.5%;
    }
    
    .left-info .content-sliders h3:after, .right-info .content-sliders h3:after, .center-info .content-sliders h3:after {
        left: 35%;
    }

    .fp-controlArrow.fp-prev {
        font-size: 28pt;
    }

    .fp-controlArrow.fp-next {
        font-size: 28pt;
    }
}