/* Fontes */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap');

/* Geral */

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a,
a:visited {
    color: black;
}

/* Correções */

.fp-controlArrow.fp-prev {
    left: 3% !important;
    font-size: 34pt;
    color: white;
    border: none !important;
}

.fp-controlArrow.fp-next {
    right: 3% !important;
    font-size: 34pt;
    width: auto;
    color: white;
    border: none !important;
}

/* --- */

#main {
    width: 90%;
    margin: 0 5%;
    display: flex;
    align-items: center;
}

#text-main {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 5%;
}

#text-main h1 {
    position: absolute;
    left: -20%;
    z-index: -999;
    opacity: 0.075;
    font-size: 17vw;
    font-weight: 600;
    width: 1000vw;
}

#text-main h3 {
    position: relative;
    z-index: 999;
    left: 10%;
    font-weight: 700;
    font-size: 40pt;
    width: 45%;
    line-height: 75px;
}

#button-down {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
}

#button-down .fa-angle-down {
    font-size: 40pt;
    cursor: pointer;
}

/* Images */

#img-main {
    position: absolute;
    top: 0;
    right: -20%;
    height: 100vh;
}

/* Sliders */

.slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28pt;
}

#slide1 {
    background: linear-gradient(to right, #1E3C72, #2A5298);
    background: #1e3c72;
    background: -moz-linear-gradient(-45deg, #1e3c72 0%, #2a5298 100%);
    background: -webkit-linear-gradient(-45deg, #1e3c72 0%, #2a5298 100%);
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e3c72', endColorstr='#2a5298', GradientType=1);

}

#slide2 {
    background: #38ef7d;
    background: -moz-linear-gradient(-45deg, #38ef7d 0%, #11998e 100%);
    background: -webkit-linear-gradient(-45deg, #38ef7d 0%, #11998e 100%);
    background: linear-gradient(135deg, #38ef7d 0%, #11998e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38ef7d', endColorstr='#11998e', GradientType=1);
}

#creditos {
    background: #414345;
    background: -moz-linear-gradient(-45deg, #414345 0%, #232526 100%);
    background: -webkit-linear-gradient(-45deg, #414345 0%, #232526 100%);
    background: linear-gradient(135deg, #414345 0%, #232526 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414345', endColorstr='#232526', GradientType=1);

    color: white;
}

/* Responsividade */

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #text-main h3 {
        font-size: 36pt;
    }

    #img-main {
        right: -30%;
    }
}

/* Custom */
@media only screen and (max-width : 879px) {
    #img-main {
        right: -40%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #img-main {
        display: none;
    }

    #text-main h1 {
        font-size: 22.5vw;
    }

    #text-main h3 {
        text-align: center;
        width: 80%;
        margin: 0 10%;
        left: 0;
        line-height: 65px;
        font-size: 32pt;
    }

    .fp-controlArrow.fp-prev {
        font-size: 28pt;
    }

    .fp-controlArrow.fp-next {
        font-size: 28pt;
    }
}